<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css", integrity: "sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==", crossorigin: "" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">

    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="layout" class="bg-gray-100">
    <nav class="h-14 bg-white shadow-md p-4 flex justify-between items-center">
      <div class="flex items-cente space-x-4">
        <button class="text-gray-500 focus:outline-none">
          <%= icon "bars-3" %>
        </button>
        <span class="text-xl font-semibold"><%= t("#{controller_name}.#{action_name}") %></span>
      </div>
      <% if user_signed_in? %>
        <div class="flex items-center space-x-4">
          <span class="text-gray-700"><%= current_user.email %></span>
          <div class="relative">
            <button
              data-action="click->layout#toggleUserTooltip"
              class="z-10 block h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none bg-gray-300 flex items-center justify-center">
              <%= icon "user" %>
            </button>
            <div data-layout-target="userTooltip"  class="w-40 hidden absolute bg-gray-800 text-white rounded shadow-lg top-15 right-full z-999">
              <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
            </div>
          </div>
        </div>
      <% end %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>